<footer class="site-footer">
  <div class="footer-col">
    <ul><a href="https://instagram.com/jogogoodgame" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></ul>
    <ul><a href="https://twitter.com/jogogoodgame" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></ul>
    <ul><a href="https://youtube.com/jogogoodgame" target="_blank"><i class="fab fa-youtube-square"></i> YouTube</a></ul>
    <ul><a href="https://twitch.com/jogogoodgame" target="_blank"><i class="fab fa-twitch"></i> Twitch</a></ul>
  </div>
  <p>Copyright &copy; {{ "now" | date: "%Y" }} by Jogo</p>
</footer>
<script>InstantClick.init();</script>