<footer class="site-footer">
  <div class="footer-col">
    <h5>CONNECT</h5>
    <ul><i class="fab fa-instagram"></i><a href=""> Instagram</a></ul>
    <ul><i class="fab fa-facebook"></i><a href=""> Facebook</a></ul>
    <ul><i class="fab fa-twitter"></i><a href=""> Twitter</a></ul>
  </div>
  <p>Copyright &copy; {{ "now" | date: "%Y" }} by Jogo</p>
</footer>
<div id="mobile-footer">
  <div><a href="#mobile-footer">CONNECT <i class="fas fa-caret-down"></i></a></div>
</div>
<script>InstantClick.init();</script>