<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | capitalize_all | escape }}{% else %}{{ site.title | capitalize_all | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" as="style" crossorigin>
  <link rel="preload" href="/assets/fonts/Noir_regular.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="/assets/fonts/Noir_medium.woff" as="font" type="font/woff" crossorigin>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous">
  {% comment %}
  {% if page.path contains '_posts' %}
    <link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  {% endcomment %}
  
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  {% seo %}
</head>
