<header class="site-header" role="banner" id='site-header'>

  <!-- checkbox hack for hamburger menu -->
  <label for="hamburger" title="hamburger menu"></label>
  <input id="hamburger" type="checkbox">

  <nav>
      <div>
        <a href="{{ "/" | relative_url}}"><img src="/assets/img/logo.svg" alt="Jogo logo"></a> &nbsp;
        <a class="site-title" href="{{ "/" | relative_url}}">{{ site.display_title | escape }}</a>
      </div>
      <div>
        {% assign current = page.url | downcase | split: '/' %}
        <a href='/faq/' {% if current[1] == 'faq' %}class='active'{% endif %}>FAQ</a>
        <a href='/blog/' {% if current[1] == 'blog' %}class='active'{% endif %}>Blog</a>
      </div>

      <div>
          <a href="javascript:" aria-label="hamburger icon"><i class="fas fa-bars"></i></a>
      </div>
  </nav>

  <!-- hidden by hamburger menu checkbox -->
  <div id="menu">
    <ul>
      <li><a href="/faq/">FAQ</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </div>

</header>
