/** font **/
@font-face {
    font-family: 'Noir Noir Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Noir_regular.woff') format('woff');
    font-display: swap;
}
    
@font-face {
    font-family: 'Noir Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Noir_medium.woff') format('woff');
    font-display: swap;
}

/*******************
WHOLE SITE FORMATTING
********************/
h1, h3, h5, button, label, b {
    font-family: 'Noir Medium', sans-serif;
    font-weight: 900;
}

p, ul, a, input, textarea, select, input[type=radio] + label, input[type=checkbox] + label {
    font-family: 'Noir Noir Regular', sans-serif;
    font-weight: 400;  
}

body {
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
}

/** padding, font-size, and border-radius, transition and box-shadow
values lifted from  original site at houseparty.com **/
button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 3em;
    background-color: #FF2A6D;
    color: #01012B;
    font-size: 100%;
    box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.1);
    transition: transform .3s ease-out, box-shadow .3s ease-out;
    cursor: pointer;
}

/** hover state lifted from  original site at houseparty.com **/
button:hover {
    transform: scale(1.05);
    box-shadow: 0 0.35em 0.85em rgba(0, 0, 0, 0.2);
}

.img-responsive {
	max-width: 400px;
	height: auto;
	margin-right: auto;
    margin-left: auto;
    margin-bottom: 3vh;
    display: block;
}

.img-related {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    display: block;
}

.coming-soon {
	max-width: 95%;
	margin-right: auto;
    margin-left: auto;
    margin-bottom: 3vh;
    display: block;
    height: 40vh;
}

.page .coming-soon {
    height: 75vh;
}

h1 a {
    text-decoration: none;
}

h1 {
    margin-top: 0;
}

/**************
NAV FORMATTING 
***************/
nav {
    background-color: #FCF7F8;
    display: flex;
    height: 8vh; 
    justify-content: space-between;
    align-items: center;
}

nav img {
    vertical-align: middle;
    height: 2rem;
}

nav a {
    color: #FF2A6D;
    text-decoration: none;
    font-weight: 900;
    font-size: 120%;
    vertical-align: middle;
}

nav div:last-child {
    display: none;
}

nav div:first-child {
    flex-grow: 4.6;
    margin-left: 2vw;
}

nav div:first-child a {
    font-size: 150%;
    transition: all .1s ease-in;
}

nav div:first-child a:hover {
    color:#05D9E8;
}

nav div:nth-child(2) {
    flex-grow: 0.4;
    display: flex;
    justify-content: space-around;
}

nav div:nth-child(2) a {
    transition: all .1s ease-in;
}

nav div:nth-child(2) a:hover {
    color: #05D9E8;
    transform: scale(1.01);
}

input[type=text], .container input[type=email], select, textarea {
    border: 2px solid black;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-size: 100%;
    max-width: 90vw;
    margin: 0;
    width: unset;
}

textarea {
    width: 85%;
    max-width: 80vw;
    min-height: 200px;
    padding: 1em 1em;
}

.active {
    text-decoration: underline;
}

/**************
HAMBURGER HACK
***************/
header input[type=checkbox] {
    position: absolute;
    right: 2vw;
    top: 24px;
    justify-content: flex-end;
    z-index: -1;
    opacity: 0;
    height: 3em;
    width: 3em;
}

#menu {
    position: absolute;
    opacity: 0;
    right: 0px;
    background-color: #FF2A6D;
    text-align: center;
    width: 100%;
    z-index: -1;
    transition: all .3s ease-in-out;
    display: inline-block;
}

.page #menu, .post #menu, .tag #menu {
    background-color: #05D9E8;
}

#menu li, #menu a {
    list-style: none;
    text-decoration: none;
    color: #FCF7F8;
    font-weight: 900;
    padding: 1.6vh 0 1.6vh 0;
    transition: all .1s ease-in;
}

#menu a:hover {
    color: #05D9E8;
}

#menu li:not(:first-child) {
    border-top: solid 2px #FCF7F8;
}

#menu ul {
    padding: 0;
    margin: auto;
}

/**************
MISCELLANEOUS
***************/
button i {
    padding-right: .3vw;
}

/** position, margin, and box-shadow values
lifted from  original site at houseparty.com **/
#sticky-button {
    background-color: #05D9E8;
    position: fixed;
    margin-left: 24vw;
    margin-top: -5.5vh;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.25em 1em;
    cursor: pointer;
    z-index: 3;
}

figure {
    overflow: scroll;
}

/** email capture input **/
input[type=email] {
    padding: 1vh 1vw 1vh 1vw;
    border: none;
    border-radius: 3em;
    margin-bottom: 1vh;
    font-family: 'Noir Noir Regular', sans-serif;
    font-size: 40%;
    width: 15vw;
    line-height: 2vh;
}

*:focus {
    outline: none;
}

/********************
COLORBLOCK FORMATTING
*********************/
.block-row {
    display: flex;
}

.block-row img {
    border: none;
    box-shadow: none;
    height: 35vw;
    width: auto;
}

.colorblock {
    display: flex;
    height: 75vh;
    width: 50vw;
    padding: 6vw;
    justify-content: center;
    align-items: center;
}

#top-yellow-block {
    background-color: #FDE74C;
    font-size: 2.5vw;
    flex-direction: column;
    line-height: 1;
}

#top-yellow-block button {
    font-size: 55%;
    color: #FCF7F8;
    margin-top: 0;
    margin-bottom: 3vh;
}

#top-yellow-block h1 {
    margin: 0 2vw 1vh 0;
}

#pink-block {
    background-color: #FF2A6D;
}

footer {
    background-color: #05D9E8;
}
/*****************
PAGE FORMATTING
******************/

.page-title {
    background: linear-gradient(33.77deg, #FF2A6D 26.12%, #FDE74C 100%);
    padding: 0 2vw 2vw;
}

.page-title h1 {
    color: #FCF7F8;
    text-align: center;
    margin: 0;
    padding: 50px 0 20px 0;
}

.page-content, .post-content {
    font-size: 120%;
}

article::before, .container::before {    
    content: "";
    background-image: url('/assets/img/soundwave-pink.svg');
    background-size: inherit;
    background-repeat: round;
    position: absolute;
    top: 20vh;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.04;
    min-width: 320px;
    z-index: -1;
}

.blog .page-content {
    padding: 0;
}

.category-name {
    background-color: lightgrey;
    border-radius: 1em;
    padding: 0.5em;
    width: max-content;
    line-height: 8vh;
    text-decoration: none;
}

.post-header {
    margin-top: 3vh;
}

.related-posts {
    display: flex;
}

.related-posts-header {
    margin-top: 6vh;
}

.related-posts-box {
    max-width: 160px;
    opacity: 0.8;
    padding: 0 3vw;
}

.related-posts-box h5 {
    display: table;
    text-align: center;
}

.related-posts-box a {
    text-decoration: none;
}

form button {
    color:  #FCF7F8;
}

#disqus_thread {
    min-height: 100px;
}

.reading-time {
    margin: 1vh 0 5vh 0;
}

/*****************
BLOG INDEX STYLING
*****************/

.container {
    margin: 3vh auto 3vh;
    width: 85%;
}
  
.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.grid-row .grid-item:nth-child(3n+3) .grid-item-wrapper {
    background-color: #FDE74CF2;
}

.grid-row .grid-item:nth-child(3n+1) .grid-item-wrapper {
    background-color:  #FF2A6DAA;
}

.grid-row .grid-item:nth-child(3n+3) {
    padding-right: 0;
}

.grid-row .grid-item:nth-child(3n+1) {
    padding-left: 0;
}

.grid-row .grid-item:nth-child(3n+2) .grid-item-wrapper {
    background-color: #05D9E8CC;
}

.grid-item {
    min-height: 400px;
    flex-basis: 33.3%;
    -ms-flex: auto;
    position: relative;
    padding: 1vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
  
.grid-row a {
    text-decoration: none;
}
  
.wrapping-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    color: currentColor;
}
  
.grid-item-wrapper {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
    position: relative;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
  
.grid-item-container {
    height: 100%;
    width: 100%;
    position: relative;
}
  
.grid-image-top {
    height: 40vh;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
  
.grid-image-top .centered {
    text-align: center;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 54.5%;
    left: 50%;
    width: 60%;
    height: 60%;
    background-position: center;
}
    
.grid-item-content {
    padding: 0 2vh 7vh 2vh;
}
  
.grid-item-content h3 {
    font-weight: 700;
    margin-bottom: 18px;
    display: block;
}
  
.grid-item-content h5 {
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
}
  
.item-excerpt {
    margin-bottom: 20px;
    display: block;
}
  
.blog button {
    background-color: #FCF7F8;
}

.grid-item-button {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
}

.grid-item:hover .grid-item-wrapper {
    padding: 1% 1%;
    margin: -1% -1%;
}
  
/*****************
FOOTER FORMATTING
******************/
footer a {
    color: #01012B;
    text-decoration: none;
}

/** padding values lifted from original site at houseparty.com **/
footer {
    color: #01012B;
    display: flex;
    padding: 2vw;
    font-size: 1em;
} 

/** padding values lifted from original site at houseparty.com **/
.footer-col {
    width: 11em;
    margin-right: 1.4em;
}

/** code lifted from original site at houseparty.com 
to just put white border on inner columns **/
.footer-col:not(:last-child) {
    border-right: 1px solid #FCF7F8;
}

footer h5 {
    margin: 0;
    margin-bottom: 1em; 
}

footer ul {
    padding: 0;
    margin: 0;
    margin-bottom: .35em;
}

.site-footer-mobile {
    display: none;
}

/**********************************
IPAD PRO MEDIA QUERY FORMATTING
***********************************/
@media only screen and (max-width: 1024px) {
    .block-row {
        flex-direction: column;
    }

    .colorblock {
        width: 100%;
        padding: 0vw;
        height: 85vh;
    }

    #top-yellow-block, #white-block, #black-block {
        font-size: 5vw;
    }

    #white-block h1, #black-block h1 {
        padding-left: 3vw;
    }

    .block-row img {
        height: 80vw;
    }

    nav div:nth-child(2) {
        visibility: hidden; 
    }

    nav div:last-child {
        display: block;
        color: #FF2A6D;
        padding-right: 3vw;
        font-size: 140%;
        transition: all .1s ease-in;
    }

    nav div:last-child a:hover {
        color: #d0f9fc;
    }

    header input[type=checkbox] {
        z-index: 9999;
    }    

    /* height-changing inspiration from https://davidwalsh.name/css-slide */
    input[type=checkbox]:checked ~ #menu {
        z-index: 100;
        opacity: 1;
    }

    input[type=checkbox] ~ nav i{
        transition: all .2s ease-in;
    }

    input[type=checkbox]:checked ~ nav i{
        color: #05D9E8;
        transform: rotate(90deg);
        transition: all .2s ease-in;
    }

    button {
        padding: 0.5em 1em;
    }

    #sticky-button {
        margin-left: 32vw;
    }

    #top-yellow-block button {
        font-size: 70%;
    }
    input[type=email] {
        padding: 1vh 1vw 1vh 3vw;
        width: 30vw;
    }
    footer {
        font-size: .7em;
    }
    .site-footer-mobile {
        display: flex;
    }
    .site-footer-mobile i {
        font-size: 2.5em;
    }
    .site-footer-mobile .footer-col {
        width: 20vw;
        margin: auto;
        border: none;
    }
    .site-footer-mobile ul {
        margin: 0 0 0 6vw;
    }
    .site-footer {
        display: none;
    }
    .grid-item {
        flex-basis: 50%;
    }
    .grid-image-top {
        height: 20vh;
    }
    .container {
        width: 90%;
    }
    .grid-row .grid-item:nth-child(2n+2) {
        padding-right: 0;
    }   
    .grid-row .grid-item:nth-child(2n+1) {
        padding-left: 0;
    }
    .grid-row .grid-item:nth-child(3n+5) {
        clear: none;
    } 
    .grid-row .grid-item:nth-child(3n+4) {
        padding-right: 1vh;
    }
    .grid-row .grid-item:nth-child(2n+4) {
        clear: both;
    } 
    .grid-row .grid-item:nth-child(2n+3) {
        padding-right: 1vh;
    } 
}

/**********************************
IPAD MEDIA QUERY FORMATTING
***********************************/
@media only screen and (max-width: 768px) {
    #sticky-button {
        margin-top: -6vh;
    }
}

/**********************************
PHONE MEDIA QUERY FORMATTING
***********************************/
@media only screen and (max-width: 450px) {
    #sticky-button {
        margin-left: 27vw;
    }
    button {
        font-size: 60%;
    }
    #top-yellow-block h1 {
        font-size: 14vw;
        margin: 0 6vw 3vh 6vw;
    }
    #top-yellow-block button {
        margin: 0 6vw 0 6vw;
    }
    input[type=email] {
        margin-left: 6vw;
        font-size: 70%;
        line-height: 2.25vh;
        width: 40vw;
    }
    input[type=checkbox] {
        right: 2.8vw;
        top: 2.3vh;
    }
    .site-title {
        display: none;
    }
    footer {
        font-size: .55em;
    }
    header input[type=checkbox] {
        top: 2px;
        right: 2vw;
        height: 3.5em;
        width: 3em;
    }
    .category-name {
        line-height: 9vh;
        white-space: nowrap;
    }
    .site-footer-mobile ul {
        margin: 0 0 0 4vw;
    }
    .container {
        width: 90%;
    }
    .grid-item {
        flex-basis: 100%;
        flex-flow: column;
        padding: 0 0 3vh 0;
    }
    .grid-image-top {
        height: 30vh;
    }
    .coming-soon {
        max-width: 50%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 3vh;
        display: block;
        height: 30vh;
    }
    .img-responsive {
        max-width: 50%;
    }
    nav img {
        height: 1.8rem;
    }
}

/**********************************
SAFARI ANIMATED SVG FALLBACK FORMATTING
***********************************/
@media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {

        #safari-fallback { 
            visibility: visible; 
        }
    }
}

/**********************************
LANDSCAPE TABLET AND LOW HEIGHT FORMATTING
***********************************/

@media only screen and (orientation: landscape) and (max-width: 1024px) {
    #sticky-button {
        margin-top: -2.7em;
    }
}

@media only screen and (max-height: 800px) and (min-width: 1025px) {
    #sticky-button {
        margin-top: -2.7em;
    }
}

/**********************************
SHARE BUTTON FORMATTING
***********************************/

#share-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
}
#share-buttons:after {
    content: "";
    display: block;
    clear: both;
}
#share-buttons > div {
    position: relative;
    text-align: left; 
    height: 36px; 
    width: 50px; 
    text-align: center;
}
#share-buttons > div > svg {
    height: 16px;
    fill: #FCF7F8;
}
#share-buttons > div:hover {
    cursor: pointer;
}
#share-buttons > div.facebook:hover > svg {
    fill: #3B5998;
}
#share-buttons > div.twitter:hover > svg {
    fill: #55ACEE;
}
#share-buttons > div.linkedin:hover > svg {
    fill: #0077b5;
}
#share-buttons > div.pinterest:hover > svg {
    fill: #CB2027;
}
#share-buttons > div.gplus:hover > svg {
    fill: #dd4b39;
}
#share-buttons > div.mail:hover > svg {
    fill: #7D7D7D;
}
#share-buttons > div.instagram:hover > svg {
    fill: #C73B92;
}
#share-buttons > div.facebook > svg {
    height: 18px;
    margin-top: 9px;
}
#share-buttons > div.twitter > svg {
    height: 20px;
    margin-top: 8px;
}
#share-buttons > div.linkedin > svg {
    height: 19px;
    margin-top: 7px;
}
#share-buttons > div.pinterest > svg {
    height: 20px;
    margin-top: 9px;
}
#share-buttons > div.gplus > svg {
    height: 17px;
    margin-top: 9px;
    position: relative;
    left: 1px;
}
#share-buttons > div.mail > svg {
    height: 14px;
    margin-top: 11px;
}