---
layout: page
title: "Blog"
permalink: /blog/
description: "Our thoughts on voice games and the voice industry. And also announcements!"
---

<div class="container">
  <div class="grid-row">
    {% for post in paginator.posts %}
    <div class="grid-item">
      <a class="wrapping-link" href="{{ post.url | relative_url }}"></a>
      <div class="grid-item-wrapper">
        <div class="grid-item-container">
          <div class="grid-image-top">
            <img class='img-responsive' src='{% if post.image%}{{post.image}}{% else %}/assets/img/logo.svg{% endif %}'>
          </div>
          <div class="grid-item-content">
            <h3>
              <a href="{{ post.url | relative_url }}">{{ post.display_title | escape }}</a>
            </h3>
            <h5>{{post.date | date: "%B %-d, %Y"}}</h5>
            <p class="item-excerpt">{{post.display_excerpt}}</p>
          </div>
          <div class="grid-item-button">
            <a class="post-link" href="{{ post.url | relative_url }}"><button>READ MORE</button></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}