{% include header.html %}

{% include sticky-button.html %}

<div class="block-row" id="listen">
	<div class="colorblock" id="top-yellow-block">
		<div>
			<h1>Jogo <br> makes creating <br> voice games <br> fun.</h1>
			<form action="https://formcarry.com/s/zrKXtHkXKJ" method="POST" accept-charset="UTF-8" >
				<input type="email" name="_reply_to" required placeholder="Email address">
				<input type="hidden" name="_gotcha">
				</br>
				<button>SIGN UP FOR THE BETA</button>
			</form>
	</div>
	</div>
	<div class="colorblock" id="pink-block">
		<div><object type="image/svg+xml" data="/assets/img/soundwave2.svg">
			<img src="/assets/img/soundwave3.svg" alt="logo animation fallback"/>
		</object></div>
		<img id="safari-fallback" src="/assets/img/soundwave3.svg" alt="logo animation fallback"/>
	</div>
</div>