{% include header.html %}

<button id="sticky-button">
	<i class="fas fa-microphone"></i>
	DOWNLOAD SUSMONGUS!
</button>

<div class="block-row" id="listen">
	<div class="colorblock" id="top-yellow-block">
		<div>
			<h1>Jogo <br> makes creating <br> voice games <br> fun.</h1>
			<button>SIGN UP FOR THE BETA</button>
		</div>
	</div>
	<div class="colorblock" id="pink-block">
		<object type="image/svg+xml" data="/assets/img/soundwave2.svg">
			<img src="/assets/img/soundwave2.svg" alt="logo animation fallback"/>
		</object>
	</div>
</div>